<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/layout/main.css">
    <script src="https://kit.fontawesome.com/d834da651a.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <header>
        <div class="navBar">
            <div class="Navbar__Link-brand">
                <img src="/assets/images/getinfo.png" />
            </div>
            <nav class="navBarItens">
                <div class="Navbar__Link">
                    QUERO DOAR
                </div>
                <div class="Navbar__Link">
                    QUEM SOMOS
                </div>
                <div class="Navbar__Link">
                    PERGUNTAS
                </div>
                <div class="Navbar__Link">
                    FALE CONOSCO
                </div>
            </nav>
        </div>
    </header> -->
    <div class="pagecpf">
        <form method="post" class="formLogin">
            <i class="fa-duotone fa-solid fa-x" onclick="history.back()"></i>
            <h1>Login</h1>
            <p>Digite seus dados de acesso nos campos abaixo:</p>
            <label for="email">Email</label>
            <input type="email" placeholder="Digite seu email" autofocus="true">
            <label for="password">Senha</label>
            <input type="password" placeholder="Digite sua senha">
            <a href="/index.html">Esqueci minha senha</a>
            <input type="submit" value="Acessar" class="btn_submit" onclick="window.open('/template/userPage.html')">
            <a href="/index.html">Cadastre-se</a>
        </form>
    </div>
</body>
</html>